.title{
    font-size: 4rem;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0.5rem;
    color: var(--color-title);
    font-family: var(--font-display);
    letter-spacing: 2px;
}


.maindiv{
    display: inline-flex;
    margin-left: 340px;
}

.navbar{
    height: 50vh;
    width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    margin-right: 50px;
}

.navbar::-webkit-scrollbar{
    background-color: var(--color-border-scroll);
    border-radius: 20px;
}

.navbar::-webkit-scrollbar-thumb{
    background-color: var(--background-scroll);
    border-radius: 20px;
}

.navbar-img{
    height: 60vh;
    width: 300px;
}

.mainsection{
    display: flex;
    max-width: 852px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
}

#mainsection-tittle{
    font-size: 32px;
    font-family: 'Playfair Display SC', serif;
    color: #814813;
}

.mainsection-list{
    font-size: 18px;
    line-height: 32px;
    max-width: 852px;
}

.js-content section{
    display: none;
}

.js-content section.active{
    display: block;
}

@media screen and (max-width: 768px){
    .title{
        font-size: 2rem;
        margin: 1rem auto;
        padding: 0.5rem;
    }

    .navbar js-list{
        height: 50vh;
        width: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
        position: relative;
        margin-right: 50px;
    }

    .maindiv{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }

    .mainsection{
        margin-top: 18px;
        margin-left: 40px;
        width: 320px;
    }

    .navbar{
        margin-left: 40px;
        width: 300px;
        height: 40vh;
        overflow-y: hidden;
        overflow-x: scroll;
        position: relative;
        display: flex;
    }
    
    .title{
        font-size: 2rem;
        margin: 1rem auto;
        padding: 0.5rem;
    }

}