.title{
    font-size: 4rem;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0.5rem;
    color: var(--color-title);
    font-family: var(--font-display);
    letter-spacing: 2px;
}


.maindiv{
    display: inline-flex;
    margin-left: 340px;
}

.navbar{
    height: 50vh;
    width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    margin-right: 50px;
}

.navbar::-webkit-scrollbar{
    background-color: var(--color-border-scroll);
    border-radius: 20px;
}

.navbar::-webkit-scrollbar-thumb{
    background-color: var(--background-scroll);
    border-radius: 20px;
}

.navbar-img{
    height: 60vh;
    width: 300px;
}

#mainsection-alig{
    display: inline-flex;
}

.mainsection{
    display: flex;
    max-width: 852px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
}

#mainsection-tittle{
    font-size: 32px;
    font-family: 'Playfair Display SC', serif;
    color: #814813;
}

.mainsection-list{
    font-size: 18px;
    line-height: 32px;
    max-width: 852px;
}

.js-content section{
    display: none;
}

.js-content section.active{
    display: block;
}

.toggle {
    align-items: center;
    gap: 0.5rem;
    background-color: #494949;
    padding: 0.625rem;
    border-radius: 5px;
    letter-spacing: 0.1rem;
    font-weight: bold;
    display: none;
}

@media screen and (max-width: 768px) {
    .toggle {
        display: flex;
    }

		.js-list{
        display: none;
    }

    .menu{
        display:none;
    }
}

@media screen and (max-width: 768px) {

    .js-list{
        display: none;
        animation: fadeOut .3s forwards;
    }

    .toggle{
        display: flex;
    }


    .js-list.active{
        display: block;
        position: absolute;
        top: 69px;
        left: 0;
        width: 100%;
        background-color: var(--background-green);
        z-index: 100;
        animation: slideDownMenu .5s forwards;
    }

    .toggle span.active{
        animation: slideDownMenu .5s forwards;
    }

}

@keyframes slideDownMenu {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}