.menu{
    max-width: var(--width);
    height: 100px;
    display: flex;
    margin: 2rem 0 2rem auto;
    background-color: #2fa97c;
    align-items: center;
}

.menu-list{
    margin-left: 20px;
    display: inline-flex;
    justify-content: space-between;
}

.menu-links a{
    padding: 15px;
    color: var(--color-white);
    font-size: 14px;
    display: inline-flex;
}

.menu-links a:hover{
    color: #814813;
    background-color: var(--color-white);
    border-radius: 5px;
    transition: 0.3s ease-in-out
}

#login{
    background-color: var(--color-white);
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 5px;
    color: var(--color-brown);
    font-size: 14px;
    display: inline-flex;
}

.toggle {
    align-items: center;
    gap: 0.5rem;
    background-color: #494949;
    padding: 0.625rem;
    border-radius: 5px;
    letter-spacing: 0.1rem;
    font-weight: bold;
    display: none;
    margin-left: 20px;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .toggle {
        display: flex;
    }

	.js-lista{
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .js-lista{
        display: none;
        animation: fadeOut .3s forwards;
    }

    .toggle{
        display: flex;
    }


    .js-lista.active{
        margin-top: 62px;
        display: block;
        position: absolute;
        top: 69px;
        left: 0;
        width: 100%;
        background-color: var(--background-green);
        z-index: 100;
        animation: slideDownMenu .5s forwards;
    }

    .toggle span.active{
        animation: slideDownMenu .5s forwards;
    }

}

@keyframes slideDownMenu {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}