.menu{
    max-width: var(--width);
    height: 100px;
    display: flex;
    margin: 2rem 0 2rem auto;
    background-color: #2fa97c;
    align-items: center;
}

.menu-list{
    margin-left: 20px;
    display: inline-flex;
    justify-content: space-between;
}

.menu-links a{
    padding: 15px;
    color: var(--color-white);
    font-size: 14px;
    display: inline-flex;
}

.menu-links a:hover{
    color: #814813;
    background-color: var(--color-white);
    border-radius: 5px;
    transition: 0.3s ease-in-out
}

#login{
    background-color: var(--color-white);
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 5px;
    color: var(--color-brown);
    font-size: 14px;
    display: inline-flex;
}